<div class="container">
  <div class="row">
    <div class="col-sm-6">
    <div class="well">
        <p id="notice"><%= notice %></p>
        <h1>Risks</h1>
        <table>
          <thead>
            <tr>
              <th>Name <small>(click to edit)</small></th>
              <th>Label</th>
              <th>Probability</th>
              <th>Impact</th>
              <th>Controls</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @risks.each do |risk| %>
              <tr>
                <td class= "justify_left"><%= link_to "#{risk.name}", edit_risk_path(risk) %> </td>
                <td><%= risk.label %></td>
                <td><%= risk.probability %></td>
                <td><%= risk.impact %></td>
                <td><%= risk.controls %></td>
                <td><%= link_to 'X', @risk, method: :delete, data: { confirm: 'Delete this Risk? Are you sure?' }, class: "deletion" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <%= link_to 'Add New Risk', new_risk_path %>
      </div>
    </div>
    <div class="col-sm-6">
    <div class="well" style="margin:0">
    <h3 align="center" style="margin: 0 0 4px 0">Heat Map - Normalized Scores</h3>
    <canvas id="myChart">
    </canvas>
    <h4 class="prob">Probability</h4>
    <h4 class="Impa">Impact</h4>
    </div>
    <ul class ="col-md-12" style="margin: 10px 0 0 0;">
      <li class="label label-success lb"> 
        Low Risk
      </li>
      <li class="label label-warning lb col-xs-offset-3"> 
        Medium Risk
      </li>
      <li class="label label-danger lb col-xs-offset-3"> 
        High Risk
      </li>
    </ul>
    </div>
  <div>
<div>

<script>
var ctx = document.getElementById("myChart");
var data = {
    datasets: [
      <% @risks.each do |r| %>
        {
            label: '<%= r.label %>',
            data: [
            
                {
                    x: <%= r.probability %>,
                    y: <%= r.impact %>,
                    r: 10+<%= r.controls %>
                }
               
            ],
            backgroundColor: getRandomColor(),
            hoverBackgroundColor: getRandomColor(),
        },
        <% end %> 
        ]
};
var myChart = new Chart(ctx, {
    type: 'bubble',
    title:"Heat Map",
    data: data,
    options:{ 
       legend: {
            display: false,
        },
      scales: {
                    xAxes: [{
                            display:false,
                            position: 'bottom',
                            scaleLabel: {
                                display: true,
                            },
                            ticks: {
                                beginAtZero: true,
                                min:1,
                                max:10, 
                            }
                        }],
                    yAxes: [{ 
                              display:false,
                              type: "linear",
                              position: "left",
                              scaleLabel: {
                                display: true,
                            },
                            ticks: {
                                beginAtZero: true,
                                min:1,
                                max: 10
                            }
                        },
                        ]
                },
                 
              },
});
</script>
