<div class="container">


<% @categories.each do |category| %>

<div class="well">
  <h1 class="center"><%= category.name %> Risks</h1>
  <div class="row">

    <div class="col-sm-6">
    <div class="panel">
        <p id="notice"><%= notice %></p>
        <h3><%= category.name %> Risk Legend</h3>
       
       <table>
          <thead>
            <tr>
              <th>Name <small>(click to edit)</small></th>
              <th>Label</th>
              <th>Probability</th>
              <th>Impact</th>
              <th>Exposure</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% category.risks.each do |risk| %>
              <tr>
                <td class= "justify_left"><%= link_to "#{risk.name}", edit_risk_path(risk) %> </td>
                <td><%= risk.label %></td>
                <td><%= risk.probability %></td>
                <td><%= risk.impact %></td>
                <td><%= risk.controls %></td>
                <td><%= link_to 'X', @risk, method: :delete, data: { confirm: 'Delete this Risk? Are you sure?' }, class: "deletion" %></td>
              </tr>
            <% end %>
          </tbody>
        </table> 

        <br>
        <%= link_to 'Add New Risk', new_risk_path(category_id: category.id) %>
        <%#= link_to 'Add New Risk', new_risk_path(category: category) %>
      </div>
    </div>



    <div class="col-sm-6">
      <!-- <div class="panel" style="margin:0"> -->
      <div class="panel heat-map-panel" >

        <h3 align="center" style="margin: 0 0 4px 0"><%= category.name %> Risk Map</h3>
        <h4>
          <div class="col-xs-6 justify_left " >
               <small >Monitor</small> 
          </div>
          <div class="col-xs-6  justify_right">
               <small >Take Action</small> 
          </div>
        </h4>
       
        
    
        <!-- <canvas id="myChart"> -->
        <canvas id="<%= "#{category.name.downcase}Chart" %>" class="myChart ">
        </canvas>
        <div class="row inline  long" >
        <h4 class="prob">
          
          <!-- <span class="inline"> -->
            <div class="col-xs-4 " >
                 <small class="justify_left">No Concern   </small> 
            </div>
            <div class="col-xs-4 center">
                 Probability
            </div>        
            <div class="col-xs-4 justify_right">
                 <small >Depends</small> 
            </div>
                <!-- </span> -->
           </h4>
          </div>
    
        
       
        <h4 class="Impa">Impact</h4>
    
       </div>
     </div>

  </div>
</div>
<br>
<br>
<br>






<script>
// var ctx = document.getElementById("myChart");
var ctx = document.getElementById("<%= "#{category.name.downcase}Chart" %>");
var data = {
    datasets: [
      <%# @risks.each do |r| %>
      <% category.risks.each do |r| %>
        {
            label: '<%= r.label %>',
            data: [
            
                {
                    x: <%= r.probability %>,
                    y: <%= r.impact %>,
                    r: 5+<%= r.controls * 3 %>
                }
               
            ],
            backgroundColor: getRandomColor(),
            hoverBackgroundColor: getRandomColor(),
        },
        <% end %> 
        ]
};
// var myChart = new Chart(ctx, {
var <%= "#{category.name.downcase}Chart" %> = new Chart(ctx, {
    type: 'bubble',
    title:"Heat Map",
    data: data,
    options:{ 
       legend: {
            position: "bottom",
        },
      scales: {
                    xAxes: [{
                            // display:false,
                            position: 'bottom',
                            scaleLabel: {
                                display: true,
                            },
                            ticks: {
                                beginAtZero: true,
                                min:0,
                                max:10.5, 
                                fixedStepSize: 5,
                                display: false
                                // lineWidth: 5
                            }
                        }],
                    yAxes: [{ 
                              // display:false,
                              type: "linear",
                              position: "left",
                              scaleLabel: {
                                display: false,
                            },
                            ticks: {
                                beginAtZero: true,
                                min:1,
                                max: 11.5,
                                fixedStepSize: 5,
                                display: false
                            }
                        },
                        ]
                },
                 
              },
});
</script>
<% end %>
</div>
